<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Hola GatRenat</title>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <link rel="stylesheet" type="text/css" media="all" href="css/default.css" />
  </head>
  <body>

    <div class="container">
      <p >En renat diu: ${resultat}</b></p>
    </br>
      <form action="/renat" method="get">
        <span>Demana una ordre al GatRenat o despedeixte d'ell</span><br>
        <div class="input-form">
          <label for="com estàs?">Com estas?<input type="radio" id="" name="comanda" value="com estàs?"></label><br>
          <label for="aixeca't">Aixeca't<input type="radio" id="" name="comanda" value="aixeca't"></label><br>
          <label for="seu">Seu<input type="radio" id="" name="comanda" value="seu"></label><br>
          <label for="estira't">Estira't<input type="radio" id="" name="comanda" value="estira't"></label><br>
          <label for="adéu">Adeu<input type="radio" id="" name="comanda" value="adeu"></label><br>
        </div>
        <input type="submit" value="Envia">
        <br>

      </form> 

    </div>
  </body>
</html>

