body {
    text-align: center;
}
b {
    border: 2px solid orangered;
    border-radius: 10px;
    background: orange;
    box-shadow: 2px 2px 1px orangered;
    padding: 1em;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 445px;
    height: 100px;
    background-color: #0CB1C4;
    border: 5px solid black;
    font-weight: bold;
    font-size: 2rem;
    color:blanchedalmond;

}
label{
    padding: 0px 5px;
}
.input-form{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.container{
    display: flex;
    flex-direction: column;
}
img {
    width: 4em;
    height: 4em;
    position: relative;
    top: 1.2em;
}
form{
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 443px;
    border: 5px solid black;
}
input[type="text"] {
    margin: 3em 0 1em;
    width: 50%;
    box-shadow: 2px 2px 1px;
}

input[type="submit"] {
    box-shadow: 2px 2px 1px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}